@{
    ViewData["Title"] = "Home Page";
}


<div class="container">
    <div class="jumbotron">
        <h1 class="display-4">Olá!</h1>
        <p class="lead">Seja bem-vindo ou bem-vinda ao sistema de cadastro de Caminhões da VOLVO.</p>
        <hr class="my-4">
        <p>Para iniciar, vá à página de Cadastro pelo menu ou pelo botão abaixo.</p>
        <a class="btn btn-primary btn-lg" asp-area="" asp-controller="Cadastro" asp-action="Index">Cadastrar Caminhões</a>
    </div>
</div>